.pics1{
background-image: url('https://i.ibb.co/kGRvHMG/5336833-2780916-copy.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

.pics2{
    background-image: url('https://i.ibb.co/JBK7C8H/istockphoto-1088991402-612x612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    }
    

