.pics{
background-image: url('https://i.ibb.co/Z1krkcw/Pngtree-cyan-background-high-quality-wallpaper-1742394.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}