.picccc{
    background-image: url('https://i.ibb.co/92NnQYj/7140739-3515462.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80vh;
    height: 80vh;
}