.picss1{
    background-image: url('https://i.ibb.co/NVMp6TL/Screenshot-2023-04-27-012559.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    }
.picss2{
    background-image: url('https://i.ibb.co/DQkWH3H/3428143-60240.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    }
      